<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - NovaTech</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../favicon_novatech.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  
  


</head>
<body>
  <header>
    <div class="logo">
      <h1 class="titulo"> <a href="../index.html">&lt;NovaTech/&gt;</a></h1>
      <span class="btn-menu"><i class="fas fa-bars"></i></span>
      <p>Innovación digital para un mundo inteligente</p>
    </div>
    <nav class="navbar">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="galeria.html">Galería</a></li>
        <li><a href="presupuesto.html">Presupuesto</a></li>
        <li><a href="contacto.html" class="active">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <section id="contacto">
    <h2>Contáctanos</h2>
    <p><strong>Dirección:</strong>Calle de Mariblanca 28, Madrid, España</p>
    <p><strong>Email:</strong> contacto@novatech.com</p>
    <p><strong>Teléfono:</strong> +34 912 345 6780</p>

    <div id="mapa"></div>
    
  </section>

  <footer>
    <div class="footer-content">
      <p>Calle de Mariblanca 28, Madrid, España</p>
      <p>Síguenos en:
        <a href="#">Facebook</a> |
        <a href="#">Twitter</a> |
        <a href="#">LinkedIn</a>
      </p>
      <p>&copy; 2025 NovaTech. Todos los derechos reservados.</p>
    </div>
  </footer>


  
  

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <script src="../js/contacto.js"></script>
  <script src="../js/main.js"></script>

  

</body>
</html>
