<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../favicon_novatech.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <title>NovaTech solutions</title>
</head>
<body>
  <header>
    <div class="logo">
      <h1 class="titulo"> <a href="../index.html">&lt;NovaTech/&gt;</a></h1>
      <span class="btn-menu"><i class="fas fa-bars"></i></span>
      <p>Innovación digital para un mundo inteligente</p>
    </div>
    <nav class="navbar">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="galeria.html" class="active">Galería</a></li>
        <li><a href="./presupuesto.html">Presupuesto</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <section id="galeria">
    <h2>Nuestros Proyectos</h2>
    <div class="galeria-grid" id="galeria-grid">
      <!-- Las imágenes se insertarán aquí por JavaScript -->
    </div>
  </section>

  <footer>
    <div class="footer-content">
      <p>Calle de Mariblanca 28, Madrid, España</p>
      <p>Síguenos en:
        <a href="#">Facebook</a> |
        <a href="#">Twitter</a> |
        <a href="#">LinkedIn</a>
      </p>
      <p>&copy; 2025 NovaTech Solutions. Todos los derechos reservados.</p>
    </div>
  </footer>

  <script src="../js/galeria.js"></script>
  <script src="../js/main.js"></script>

    
</body>
</html>