<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../favicon_novatech.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <title>Document</title>
</head>
<body>
      <header>
    <div class="logo">
      <h1 class="titulo"> <a href="../index.html">&lt;NovaTech/&gt;</a></h1>
      <span class="btn-menu"><i class="fas fa-bars"></i></span>
      <p>Innovación digital para un mundo inteligente</p>
    </div>
    <nav class="navbar">
      <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./galeria.html">Galería</a></li>
        <li><a href="presupuesto.html" class="active">Presupuesto</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <section id="formulario-presupuesto">
    <h2>Solicita tu Presupuesto</h2>

    <form id="formPresupuesto">
      <!-- Datos de contacto -->
      <fieldset>
        <legend>Datos de contacto</legend>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" maxlength="15" required>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" maxlength="40" required>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" maxlength="9" required> <br>

        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
      </fieldset>

      <!-- Presupuesto -->
      <fieldset>
        <legend>Opciones de presupuesto</legend>

        <label for="producto">Producto:</label>
        <select id="producto" name="producto">
          <option value="landing">Landing Page - 299€</option>
          <option value="ecommerce">Tienda Online - 699€</option>
          <option value="app">Aplicación Web - 1200€</option>
        </select>

        <label for="plazo">Plazo de entrega (en días):</label>
        <input type="number" id="plazo" name="plazo" min="1" value="30">

        <p>Extras:</p>
        <label><input type="checkbox" name="extras" value="seo"> SEO Avanzado (+100€)</label><br>
        <label><input type="checkbox" name="extras" value="backup"> Copias de seguridad automáticas (+50€)</label><br>
        <label><input type="checkbox" name="extras" value="hosting"> Hosting profesional 1 año (+150€)</label>

        <p><strong>Presupuesto total:</strong> <span id="total">0 €</span></p>

        <label><input type="checkbox" id="condiciones" required> Acepto las condiciones de privacidad</label><br>

        <button type="submit" class="btn-form">Enviar</button>
        <button type="reset" class="btn-form" >Reiniciar</button>
      </fieldset>
    </form>
  </section>

  <footer>
    <div class="footer-content">
      <p>Calle de Mariblanca 28, Madrid, España</p>
      <p>Síguenos en:
        <a href="#">Facebook</a> |
        <a href="#">Twitter</a> |
        <a href="#">LinkedIn</a>
      </p>
      <p>&copy; 2025 TechNova Solutions. Todos los derechos reservados.</p>
    </div>
  </footer>

  <script src="../js/presupuesto.js"></script>
  <script src="../js/main.js"></script>
</body>
</html>